<%= flash_messages %>
<h2>Address</h2>

<p>
  <strong>Address:</strong>
  <%= @addres.address%>
</p>

<p>
  <strong>City:</strong>
  <%= @addres.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @addres.country%>
</p>
	
<%= link_to 'Edit', edit_address_path(@addres), class: "btn btn-warning" %>
<%= link_to "Back", addresses_path, class: "btn btn-default" %>